@model List<DDAC_Project.Controllers.AdvisorController.UserModel>
@{
    var userCount = Model?.Count ?? 0;
}
<h2 style="padding: 15px 0px 15px 10px; color: dimgray; margin-bottom: 0">Select Client</h2>
<div style="background-color: #f0f0f0;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); display: flex; flex-direction: row; justify-content: space-between; padding: 50px; border-radius: 10px">
    @for (int i = 0; i < 3; i++)
    {
        if (i < userCount)
        {
            var user = Model[i];
            <a asp-action="FinancialAnalysis" asp-controller="Advisor" asp-route-ClientId="@user.ClientID" asp-route-fullName="@user.FirstName @user.LastName" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white; width: 30%; height: 50vh; padding: 15px; text-decoration: none; color: inherit; display:flex; flex-direction: column; border-radius:10px">
                <div style="display: flex; flex-direction: row; height: 40%">
                    <img src="~/image/Avatar 4.jpeg" style="max-width: 40%; height:100%; border-radius: 50%; object-fit: contain" />
                    <p style="font-size:18px; font-weight:bold; padding: 40px 0px 20px 10px">@user.FirstName @user.LastName</p>
                </div>
                <p style="color: gray">Client ID: @user.ClientID</p>
                <p style="color: gray">Email: @user.Email</p>
                <p style="color: gray">Phone Number: @user.PhoneNumber</p>
            </a>
        }
        else
        {
            <div style="border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white; width: 30%; height: 50vh; padding: 15px; text-decoration: none; color: inherit; display:flex; flex-direction: column; text-align:center; ">
                <p style="font-size: 18px; color: gray; margin: auto 0 ">No other clients are currently assigned to you</p>
            </div>
        }
    }
</div>