@model List<DDAC_Project.Controllers.AdminController.ManageUserViewModel>
@{
}

<div style="display: flex; justify-content: space-between">
    <h2 style="padding-top: 10px; color: dimgray; width: fit-content">User Data</h2>
    <button type="button" data-bs-toggle="modal" data-bs-target="#userModal" class="btn btn-dark" style="width:fit-content; border: solid 1px lightgrey; margin: 1em 0">Add New User</button>
</div>

<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="userModalLabel">Choose User Type</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="display:flex; gap: 1em; justify-content: space-around">
                <a asp-controller="Admin" asp-action="AddAdmin" class="btn btn-info" style=" width:45%; padding: 5px 0">Admin</a>
                <a asp-controller="Admin" asp-action="AddAdvisor" class="btn btn-warning" style=" width:45%; padding: 5px 0 ">Advisor</a>
            </div>
        </div>
    </div>
</div>
<div class="row" style="width: 100%; height: 70vh; border: solid 1px lightgrey; margin: 0 auto; text-align: center">
    <div style="overflow-y: auto; height: 100%; position:relative">
        <table class="table table-hover">
            <thead style="position: sticky; top:0">
                <tr>
                    <th scope="col">#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>User Type</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <th scope="row">@(Model.IndexOf(user) + 1)</th>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.UserType</td>
                        @if (user.Email == "admin@fiscella.com" || user.Email == "advisor@fiscella.com")
                        {
                            <td style="text-align: center; vertical-align:middle">
                            </td>
                            <td style="text-align: center; vertical-align:middle">
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center; vertical-align:middle">
                                <a asp-action="EditUser" asp-controller="Admin" asp-route-UserId="@user.UserId"><i class="fa-solid fa-pen-to-square"></i></a>
                            </td>
                            <td style="text-align: center; vertical-align:middle">
                                <a asp-action="DeleteUser" asp-controller="Admin" asp-route-UserId="@user.UserId" style="color: red"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

